.photo-frame{
	width:300px;
	border: 5px solid blue;
	margin:10px;
	padding:15px;
}
.marksheet { 
	border: 3px solid black; 
	width: 80%; 
	margin-top: 20px; 
}
.marksheet thead { 
	background-color: pink; 
	font-weight: bold;
}
.marksheet tbody tr:nth-child(even) { 
	background-color: gray;
}
.marksheet tbody tr:nth-child(odd) { 
	background-color: white; 
}
.marksheet th,
.marksheet td {
	border: 3px solid black;
}